/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  height: 130px;   
  margin-bottom: 20px;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(
      rgba(13, 59, 102, 0.85),
      rgba(13, 59, 102, 0.85)
    ),
    url('https://images.unsplash.com/photo-1554224155-6726b3ff858f');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
   padding: 150px 80px 120px 80px; /* espacio abajo */
  min-height: 85vh;
  display: flex;
  align-items: center;
}

.hero-wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 80px;   /* más pequeña */
  background: white;
  border-top-left-radius: 100% 40px;
  border-top-right-radius: 100% 40px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 54px;
  margin-bottom: 25px;
  font-weight: bold;
}

.hero p {
  font-size: 20px;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* BOTONES */
.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: white;
  color: #0d3b66;
  padding: 15px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #f0f0f0;
}

.btn-secondary {
  background-color: #25D366;
  color: white;
  padding: 15px 32px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #1ebe5d;
}




.services {
  background: white;
  padding: 80px 20px;
  text-align: center;
}











