body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

/* HEADER */

.header {
  background-color: #0d3b66;
  color: white;
  padding: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 150px;
}

/* NAV */

nav {
  background-color: #1d3557;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}


/* SERVICIOS */

section {
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* BOTONES */

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #0d3b66;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
}

/* WHATSAPP */

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #0d3b66;
  color: white;
  padding: 20px;
}





